<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcsl7GC0VA5U10asGcfyjsIfkK7fXU34o</string>
	<key>GCM_SENDER_ID</key>
	<string>797307892549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.focoAlternativo</string>
	<key>PROJECT_ID</key>
	<string>meu-foco-total</string>
	<key>STORAGE_BUCKET</key>
	<string>meu-foco-total.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797307892549:ios:7d18a27b016aeb3ffb042c</string>
</dict>
</plist>